.DS_Store
__pycache__
*pycache*
DS_Store
*DS_Store*
.pytest_cache
.pytest_cache/*
*__init__.py*
.idea
.idea/*
*.txt
*.cfe
*.nvd
*.nvm
*.fdx
*.doc
*.pos
*.tip
*.tmd
*.tim
*.fnm
*.si
*.fdm
*.cfs
*.fdt
*.lock
*.tmp
stem_index/segments_1
c_index/segments_8
cut_index/segments_g
el_index.tar
el_index/segments_2
es_index/segments_2
index2k/segments_2
index4k/segments_2
l_index/segments_8
my_index/segments_i
s_index/segments_8
*.pyc
*.pyc
e_stop/segments_1
e_stop_4k/segments_1
e_stop_tf/segments_1
lemma4k/segments_7
lemma_full/segments_2
src/main/python/edu/arizona/cs/__pycache__/document.cpython-38.pyc
src/main/python/edu/arizona/cs/__pycache__/document.cpython-38.pyc
*.tar
baseline_index_2.5k
